<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>#</td>
        <td>Name</td>
        <td>Content</td>
        <td>Img</td>

    </tr>
    <tr th:each="list,itemp :${lists}">
        <td th:text="${itemp.count}"></td>
        <td th:text="${list.name}"></td>
        <td th:text="${list.content}"></td>
        <td><img th:src="@{'/image/' + ${list.file}}" width="300" height="200"></td>
    </tr>
</table>
</body>
</html>