<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">List</a>
<form th:action="@{/create}" method="post" th:object="${object}">
    <table>
        <tr>
            <td>Title</td>
            <td>
                <input type="text" th:field="*{title}">
            </td>
        </tr>
        <tr>
            <td>Author</td>
            <td>
                <input type="text" th:field="*{author}">
            </td>
        </tr>
        <tr>
            <td>Content</td>
            <td >
                <input type="text" th:field="*{content}">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <select th:field="*{category}">
                    <option th:each="l: ${listsCategory}" th:value="${l.category_id}" th:text="${l.category_name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
            <td><button type="reset">Rest</button></td>
        </tr>
    </table>
</form>
</body>
</html>