<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{create}">Create</a>
    <form th:action="@{/}" method="get">
        <input type="text" name="search"> <input type="submit" value="Search">
    </form>
    <table border="1">
        <tr>
            <td>#</td>
            <td>Title</td>
            <td>Author</td>
            <td>Content</td>
            <td>Category</td>
            <td></td>
        </tr>
        <th:block th:each="list, l: ${lists}">
            <tr>
                <td th:text="${l.count+(lists.number*5)}"></td>
                <td th:text="${list.title}"></td>
                <td th:text="${list.author}"></td>
                <td th:text="${list.content}"></td>
                <td th:text="${list.category.category_name}"></td>
                <td>
                    <a th:href="@{/update/{id}(id=${list.id})}">Edit</a>
                    <a th:href="@{/delete/{id}(id=${list.id})}">Delete</a>
                    <a th:href="@{/view/{id}(id=${list.id})}">View</a>
                </td>
            </tr>
        </th:block>
    </table>
<div>
    <a th:href="@{'/'(page=${lists.number - 1})}" th:if="${lists.hasPrevious()}">Previous</a>
    <span th:text="${lists.number + 1}"></span>/<span th:text="${lists.totalPages}"></span>
    <a th:href="@{'/'(page=${lists.number + 1})}" th:if="${lists.hasNext()}">Next</a>
</div>
</body>
</html>