<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">List</a>
<form th:action="@{/update}" method="post" th:object="${object}">
    <table>
        <tr hidden>
            <td>

            </td>
            <td>
                <input type="hidden" th:field="*{id}">
            </td>
        </tr>
        <tr>
            <td>Title</td>
            <td>
                <input type="text" th:field="*{title}">
            </td>
        </tr>
        <tr>
            <td>Author</td>
            <td>
                <input type="text" th:field="*{author}">
            </td>
        </tr>
        <tr>
            <td>Content</td>
            <td >
                <input type="text" th:field="*{content}">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <select th:field="*{category}">
                    <option th:each="l: ${listsCategory}" th:value="${l.category_id}" th:text="${l.category_name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="submit"></td>
            <td><input type="reset" value="reset"></td>
        </tr>
    </table>
</form>
</body>
</html>