<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">List</a>
<table th:object="${object}">
    <tr>
        <td>Id: </td>
        <td th:text="*{id}"></td>
    </tr>
    <tr>
        <td>Title: </td>
        <td th:text="*{title}"></td>
    </tr>
    <tr>
        <td>Author: </td>
        <td th:text="*{author}"></td>
    </tr>
    <tr>
        <td>Content: </td>
        <td th:text="*{content}"></td>
    </tr>
    <tr>
        <td>Category: </td>
        <td th:text="*{category.category_name}"></td>
    </tr>

</table>
</body>
</html>