<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link href="webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js">
    <link href="webjars/bootstrap/5.1.3/scss/bootstrap-utilities.scss">
</head>
<body>
<form method="get" th:action="@{'/'}" class="form-control">
    <input type="search" name="search" class="">
    <input type="submit" value="Search" class="btn-success">
</form>
<table class="table table-hover">
    <tr class="table-success">
        <td>#</td>
        <td>Fist Name</td>
        <td>Last Name</td>
        <td>Phone</td>
        <td>Age</td>
        <td>Email</td>
    </tr>
    <tr th:each="list,l: ${lists}">
        <td th:text="${l.count} + ${lists.number}*5"></td>
        <td th:text="${list.fistname}"></td>
        <td th:text="${list.lastname}"></td>
        <td th:text="${list.numberphone}"></td>
        <td th:text="${list.age}"></td>
        <td th:text="${list.email}"></td>
    </tr>
</table>
<a th:href="@{'/'(page=${lists.number-1})}" th:if="${lists.hasPrevious()}" class="btn btn-success">Previous</a>
<span th:text="${lists.number+1}"></span><span>/</span><span th:text="${lists.totalPages}"></span>
<a th:href="@{'/'(page=${lists.number+1})}" th:if="${lists.hasNext()}" class="btn btn-success" >Next</a>
</body>
</html>