<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1px">
    <caption>Customer</caption>
    <a th:href="@{customer/create}">create</a>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Birthday</td>
        <td>Gender</td>
        <td>Id card</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Address</td>
        <td>Type</td>
        <td></td>
    </tr>
    <tr th:each="customer:${customers}">
        <td th:text="${customer.customer_id}"></td>
        <td th:text="${customer.customer_name}"></td>
        <td th:text="${customer.customer_birthday}"></td>
        <td th:text="${customer.customer_gender}==true ? 'Male': 'Female'"></td>
        <td th:text="${customer.customer_id_card}"></td>
        <td th:text="${customer.customer_phone}"></td>
        <td th:text="${customer.customer_email}"></td>
        <td th:text="${customer.customer_address}"></td>
        <td th:text="${customer.customerType.customer_type_name}"></td>
        <td>
            <a th:href="@{customer/{id}/edit(id=${customer.getCustomer_id()})}">edit</a>
            <a th:href="@{customer/{id}/delete(id=${customer.getCustomer_id()})}">edit</a>
        </td>
    </tr>
</table>
<a th:if="${customers.hasPrevious()}" th:href="@{''(page=${customers.number - 1})}">Previous</a>
<span th:text="${customers.number+1}"></span><span>/</span><span th:text="${customers.totalPages}"></span>
<a th:href="@{''(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</body>
</html>